<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.rcptt.reporting.reportRenderer">
        <reportRenderer
            class="com.hiclab.rcptt.reporting.XMLCustomReportRenderer"
            description="XML Custom Report Renderer"
            extension="xml"
            id="XmlReport"
            name="Xml Custom Report">
      </reportRenderer>
   </extension>
</plugin>
